p.leftp {
  float: left;
  width: 250px;
  
}

h2.righth2 {
 
  border: 1px solid black;
 position: absolute;
  top: 153px;
  left: 210px;
  background: orange; 
}

h3.cont1{
 border: 1px solid black;
  width:189px ;
}

p.cont2{
  position: absolute;
  top:189px ;
  left:210px ;
  border: 1px solid black;
  width:180px ;
}
p.cont3{
  position: absolute;
  top: 189px;
  left: 330px;
}
ul.cont4{
  position: absolute;
  top: 188px;
  left: ;
  border: 1px solid black;
}
h4.cont5{
  position: absolute;
  top: 370px;
  left: 210px;
border: 1px solid black;
  width: 180px;
}

p.cont6{
  position: absolute;
    top: 396px;
  left: 210px;
  border: 1px solid black ;
  width:180px ;
}

p.cont7{
  position: absolute;
    top:  438px;
  left: 210px;
border: 1px solid black;
  width: 180px;
}

p.cont8{
  position: absolute;
  top: 460px;
  left: 210px ;
  border: 1px solid black;
  width: 180px;
}

p.cont9{
  position: absolute;
  top: 480px;
  left: 210px;
  border: 1px solid black;
  width: 180px;
    
}

h4.cont10 {
  position: absolute;
  top: 535px;
  left: 210px;
  border: 1px solid black;
  width: 180px;
}

p.cont11 {
  position: absolute;
  top: 561px;
  left: 210px;
  border: 1px solid black;
  width: 180px;
}

p.cont12 {
  position: absolute;
  top: 603px;
  left: 210px;
  border: 1px solid black;
  width: 180px;
}

p.cont13 {
  position: absolute;
  top: 663px;
  left: 210px;
  border: 1px solid black;
  width: 180px;
  
}

h4.cont14 {
  position: absolute;
  top: 698px;
  left: 210px;
  border: 1px solid black;
  width: 180px;
}

p.cont15 {
  position: absolute;
  top: 725px;
  left: 210px;
  border: 1px solid black ;
width: 180px;
}

p.cont16 {
  position: absolute;
  top: 765px;
  left:210px ;
border: 1px solid black;
  width: 180px;
}

h2.cont17{
  position: absolute;
  top: 400px;

}

ul.cont18 {
  position: absolute;
  top: 434px;
}
 h2.cont19 {
  position: absolute;    
  top:480px ;  
  }

hr.cont20 {
  position: absolute;
    top:490px ;
  width:200px ;
}

p.cont21 {
  position: absolute;
  top: 510px;
  width: 200px;
}

h4.cont22 {
  position: absolute;
  top: 630px;
  width: 200px;
}  

p.cont23 {
  position: absolute;
  top: 660px;
  width: 190px;
  border:1px solid black; 
    background: orange;
}
  
p.cont24 {
  position: absolute;
  top: 800px;
  width: 390px;
}

p.cont25 {
  position: absolute;
  top: 1050px;
 width: 390px; 
}

h4.cont26 {
  position: absolute;
  top: 1250px;
  width: 390px;
}

p.cont27{
  position: absolute;
  top: 1280px;
  width: 390px;
}

p.cont28{
  position: absolute;
  top: 1330px;
  width: 390px;
}
p.cont29{
  position: absolute;
 top:  1380px;
  width: 390px;
}

h4.cont30{
  position: absolute;
    top:1400px;
    width:390px;
}

p.cont31{
  position: absolute;
  top: 1440px;
  width: 390px;
}

ul.cont32{
  position: absolute;
  top: 1480px;
  width: 390px;
}

h4.cont33{
  position: absolute;
  top: 1540px;
  width: 390px;
}

p.cont34{
  position: absolute;
  top: 1570px;
  width: 390px;
}

h2.cont35{
  position: absolute;
  top: 1700px;
  width: 390px;
}

ul.cont36{
  position: absolute;
  top: 1730px;
  width: 390px;
}

p.cont37{
  position: absolute;
  top: 1900px;
  width: 390px;
}
